<h1 mat-dialog-title>Create blogpost</h1>

<form mat-dialog-content [formGroup]="blogpostForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input
      formControlName="title"
      name="title"
      matInput
      placeholder="Title"
    />
    <mat-error *ngIf="title.invalid">
      <span *ngIf="title.hasError('required')"> This field is required. </span>
    </mat-error>
  </mat-form-field>

<mat-form-field appearance="outline">
  <mat-select placeholder="Categories" formControlName="categories" nmatInput name="categories" multiple>
    <mat-option *ngFor="let category of category_options" [value]="category">
        {{category.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Text</mat-label>
    <textarea
      formControlName="text"
      name="text"
      matInput
      placeholder="Type here..."
    ></textarea>
    <mat-error *ngIf="text.invalid">This field is required.</mat-error>
  </mat-form-field>
  <div class="mat-dialog-actions">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
  </div>
</form>
