<ng-container class="container" *ngIf="blogpost; else blogpostMissing">
  <h1>{{ blogpost.title }}</h1>
  <span class="categories" *ngFor="let category of blogpost.categories">{{ category.name }}</span>
  <div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    <p> {{ blogpost.text }}</p>
  </div>
  <div>
    <h2>Comments</h2>
    <ng-container *ngIf="blogpost.comments && blogpost.comments.length !== 0">
      <div class="comment" *ngFor="let comment of blogpost.comments">
        <div class="header-container">
          <span class="comment-author">{{ comment.user!.userName }}</span>
          <span class="comment-created">{{ comment.createdAt }}</span>
        </div>
        <div class="comment-body">
          <span class="comment-text">{{ comment.text }}</span>
          <button *ngIf="userService.isAdmin" class="remove-btn" mat-icon-button color="warn" (click)="deleteComment(comment?.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
    <p *ngIf="!blogpost.comments || blogpost.comments.length === 0">
      No comments yet.
    </p>
    <form (submit)="addComment()">
      <mat-form-field appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea
          required
          matInput
          name="comment"
          [formControl]="comment"
        ></textarea>
        <mat-error *ngIf="comment.invalid">This field is required.</mat-error>
      </mat-form-field>
      <div class="btn-container">
        <button mat-raised-button color="primary">Send comment</button>
        <button 
          class="remove-btn" 
          *ngIf="userService.isAdmin" 
          mat-raised-button color="warn"
          (click)="onDeleteBlogPost()"
        >Delete Post</button>
      </div>
    </form>
  </div>
</ng-container>
<ng-template #blogpostMissing>
  <h1>Blog post does not exist.</h1>
</ng-template>
