.comment {
  border: 1px solid gainsboro;
  padding: 10px;
}
.comment-author {
  font-weight: bold;
}
mat-form-field {
  display: block;
}

.comment-created {
  text-align: right;
}

.btn-container {
  margin-bottom: 20px;

}

.remove-btn {
  float: right;
}
